/* GENERAL */
body{
    background-color: #889C9B;
}
footer a {
    color: rgb(204, 201, 201);
}
header a {
    color: rgb(204, 201, 201);
}

table {
    width: 50% ;
    border-spacing: 0 ;
}

article img {
    width: 250px;
}
/* INDEX */

#TituloIndex {
    color: #2c2a27;
}
/* CLASES */
.estilosfooter-header {
    background-color: #3B3936;
    color: whitesmoke;
}

.colorparrafo1 {
    color: #2c2a27;
}

.colorlistas {
    background-color: #506266;
}
.aside {
    width: fit-content;
    background-color: #818274;
}

.productosimg {
    width: 200px;
}



/* Color Theme Swatches in Hex */
.Big-Machine-1-hex { color: #BD2A2E; }
.Big-Machine-2-hex { color: #3B3936; }
.Big-Machine-3-hex { color: #B2BEBF; }
.Big-Machine-4-hex { color: #889C9B; }
.Big-Machine-5-hex { color: #486966; }

/* Color Theme Swatches in Hex */
.paleta1 { color: #10454F; }
.paleta2 { color: #506266; }
.paleta3 { color: #818274; }
.paleta4 { color: #A3AB78; }
.paleta5 { color: #BDE038; }





